@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <form  class="navbar-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button  type="submit" class="button is-rounded mr-3">Logout</button>
    </form>
}
else
{
    <div class="buttons">
        <div>
            <a class="button is-primary is-rounded mr-3 ml-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div>
            <a class="button is-light is-rounded mr-6" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}