@model Blog_project.Models.Image

<section class="section">
    <div class="container">
        <div class="column is-3"></div>
        <div class="column is-9">
            <div>
                <h1 class="title">Details</h1>
                <h2 class="subtitle">Do you want to exchange this image?</h2>
            </div><hr />
            <div class="subtitle">
                @Html.DisplayFor(model => model.Title)
            </div>
            <figure class="image">
                <img src="@("~/StoredImages/" + Model.Title)" asp-append-version="true" />
            </figure>

            <nav class="level form-group mt-3 mb-6 pb-6">
                <div class="level-left">
                    <a asp-action="Edit" asp-route-id="@Model.ImageId" value="Edit" class="button level-left is-rounded is-warning">Edit</a>
                </div>
                <div class="level-right">
                    <a asp-action="Index" class="button is-rounded level-right">Back to List</a>
                </div>
            </nav>
        </div>
    </div>
</section>