@model Blog_project.Models.Image

<section class="section">
    <div class="container">
        <div class="column is-3"></div>
        <div class="column is-7">
            <div>
                <h1 class="title">Edit image</h1>
                <h2 class="subtitle">Exchange picture in database</h2>
            </div>
        </div><hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="is-danger"></div>
            <input type="hidden" asp-for="ImageId" />
            <div class="form-group field">
                <label asp-for="Title" class="control-label label"></label>
                <input asp-for="Title" accept="image/*" class="input form-control" />
                <span asp-validation-for="Title" class="text-danger tag is-white"></span>
            </div>

            <nav class="level">
                <div class="form-group level-left">
                    <input type="submit" value="Edit" class="button is-warning" />
                </div>
                <div>
                    <a asp-action="Index" class="button">Back to List</a>
                </div>
            </nav>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
