@model IEnumerable<Blog_project.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<section class="section">
    <div class="container">
        <div class="column is-3"></div>
        <div class="column is-7">
            <div>
                <h1 class="title">Edit image</h1>
                <h2 class="subtitle">Exchange picture in database</h2>
            </div>
        </div><hr />
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ImageId" class="button is-warning is-light is-rounded mr-2">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.ImageId" class="button is-link is-light is-rounded mr-2">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ImageId" class="button is-danger is-light is-rounded">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="column is-2">
            <a asp-action="Create" class="button is-primary is-rounded is-medium">Create New</a>
        </div>
    </div>
</section>