@model Blog_project.Models.Post

@{
    ViewData["Title"] = "Create";
}

<section class="section">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-7">
            <div class="container">
                <div>
                    <h1 class="title">Create Post</h1>
                </div><hr />

                <form asp-action="Create"  class="mb-6 pb-6">
                    <div asp-validation-summary="ModelOnly" class="is-danger"></div>
                    <div class="field form-group">
                        <label asp-for="userName" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="userName" class="input form-control" />
                            <span asp-validation-for="userName" class="tag is-white"></span>
                        </div>
                    </div>
                    <div class="field form-group">
                        <label asp-for="title" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="title" class="input form-control" />
                            <span asp-validation-for="title" class="tag is-white"></span>
                        </div>
                    </div>
                    <div class="field form-group">
                        <label asp-for="text" class="label control-label"></label>
                        <div class="control">
                            <textarea asp-for="text" class="textarea form-control"></textarea>
                            <span asp-validation-for="text" class="tag is-white"></span>
                        </div>
                    </div>
                    <div class="field form-group">
                        <label asp-for="publishedDate" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="publishedDate" class="input form-control" />
                            <span asp-validation-for="publishedDate" class="tag is-white"></span>
                        </div>
                    </div>

                    <nav class="level form-group">
                        <div class="level-left">
                            <input type="submit" value="Create" class="button is-rounded level-left is-primary">
                        </div>
                        <div class="level-right">
                            <a asp-action="Index" class="button is-rounded level-right">Back to List</a>
                        </div>
                    </nav>
                </form >
            </div>
        </div>
    </div>
</section>
        

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
