@model Blog_project.Models.Post

@{
    ViewData["Title"] = "Details";
}

<section class="section">
    <div class="container pb-6 mb-6">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="has-text-centered">
                    <h1 class="title">@Html.DisplayFor(model => model.title)</h1>
                </div><hr />

                <div class="container">
                    <div class="pb-2">
                        @Html.DisplayFor(model => model.text)
                    </div>

                    <div class="level">
                        <div class="level-left">
                            <p class="subtitle">@Html.DisplayFor(model => model.userName)</p>
                        </div>
                        <div class="level-right">
                            <p class="subtitle">@Html.DisplayFor(model => model.publishedDate)</p>
                        </div>
                    </div>
                    <div class="level-right">
                        <a asp-action="Index" class="button is-rounded level-right">Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>