@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />


<section class="section">
    <div class="container mb-6">
        <div class="columns">
            <div class="column is-7">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="is-danger"></div>
                    <div class="form-group field">
                        <label asp-for="Input.OldPassword" class="control-label label"></label>
                        <input asp-for="Input.OldPassword" class="input form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger tag is-white"></span>
                    </div>
                    <div class="form-group field">
                        <label asp-for="Input.NewPassword" class="control-label label"></label>
                        <input asp-for="Input.NewPassword" class="input form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger tag is-white"></span>
                    </div>
                    <div class="form-group field">
                        <label asp-for="Input.ConfirmPassword" class="control-label label"></label>
                        <input asp-for="Input.ConfirmPassword" class="input form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger tag is-white"></span>
                    </div>

                    <nav class="level">
                        <div class="form-group level-left">
                            <button type="submit" class="button is-primary">Set password</button>
                        </div>
                    </nav>
                </form>
            </div><hr />
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}