@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <form id="email-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="is-danger"></div>
                    <div class="form-group field">
                        <label asp-for="Email" class="control-label label"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Email" class="form-control input" disabled />
                            </div>
                        }
                        else
                        {
                            <input asp-for="Email" class="form-control input" disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                    </div>
                    <div class="form-group field">
                        <label asp-for="Input.NewEmail" class="control-label label"></label>
                        <input asp-for="Input.NewEmail" accept="image/*" class="input form-control" />
                        <span asp-validation-for="Input.NewEmail" class="text-danger tag is-white"></span>
                    </div>

                    <nav class="level">
                        <div class="form-group level-left">
                            <button id="update-email-button" type="submit" asp-page-handler="ChangeEmail" class="button is-primary">Change email</button>
                        </div>
                    </nav>
                </form>
            </div>
        </div>
        
        
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
