@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="section">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-7">
            <div class="container">

                <div>
                    <h1 class="title">@ViewData["Title"]</h1>
                    <h2 class="subtitle">Enter your email.</h2>
                </div><hr />

                <form method="post">
                    <div asp-validation-summary="All" class="is-danger"></div>

                    <div class="field form-group">
                        <label asp-for="Input.Email" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="Input.Email" class="input form-control" />
                            <span asp-validation-for="Input.Email" class="icon is-small is-right"></span>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="button is-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
