@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}


<section class="section">
    <div class="columns">
        <div class="container">
            <h1 class="title">@ViewData["Title"]</h1>
            <h4 class="subtitle">Enter your email.</h4><hr />
            <div class="column is-half is-offset-one-quarter">
                <form method="post">
                    <div asp-validation-summary="All" class="is-danger"></div>
                    <div class="field form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="is-danger"></span>
                    </div>
                    <button type="submit" class="button is-primary">Resend</button>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
